name: Build

on:
  push:
    branches:
      - main
    paths:
      - "**.nix"
      - flake.lock
      - .github/workflows/*.yml
  merge_group:
  pull_request:
    branches: ["*"]
    paths:
      - "**.nix"
      - flake.lock
      - .github/workflows/*.yml
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v20
      - uses: yaxitech/nix-install-pkgs-action@v7
        with:
          packages: "nixpkgs#omnix"
      - run: |
          set -euxo pipefail
          om ci run --include-all-dependencies -- --show-trace
